.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blueviolet;
    padding: 1rem;
    position: sticky;
    top:0;
}
.navbar-logo{
    color:white;
    font: 1.5em sans-serif;
    cursor:pointer;

}
.navbar-links{
    list-style: none;
    display:flex;
    margin:0;
    padding:0;
}
.navbar-links li{
    margin: 0 1rem;

}
.navbar-links a{
    color:black;
    text-decoration: none;
    font-size: 1.1rem;
}
.navbar-links a:hover{
    color:rgb(0, 4, 255);
}
.menu{
    display:flex;
    flex-direction: column;
}
.menu-icon{
    display:none;
    font-size:2rem;
    color:white;
    background: none;
    cursor:pointer;
    width:25px;
    height:3px;
    margin:2px 0;
    background-color: white;
}
@media (max-width: 768px){
    .navbar-links{
        display: none;
        flex-direction: column;
        position: absolute;
        top:60px;
        right: 0;
        background-color: yellow;
        justify-content: center;
        width: 100%;
        align-items: center;

    }
    .navbar-links.active{
        display: flex;
    }
    .menu-icon{
        display: block;

    }
}